<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/site.css" rel="stylesheet" />
    <title>Sample Test Page</title>
</head>
<body>
    <h2>Test page view</h2>

    <div id="result">
        Saved State - @Model
    </div>

    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    </ul>
</body>